openapi: 3.2.0
info:
  title: Activeloop Deep Lake Managed Database API
  description: Deep Lake is a database for AI built by Activeloop.
  termsOfService: https://www.activeloop.ai/terms-of-service/
  contact:
    name: Activeloop Support
    url: https://www.activeloop.ai/
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  version: v1-alpha
servers:
- url: https://app.activeloop.ai
  description: Activeloop Cloud (Managed Tensor Database)
tags:
- name: Managed Database
paths:
  /api/query/v1:
    post:
      operationId: runManagedQuery
      tags:
      - Managed Database
      summary: Run a TQL query against the Managed Tensor Database (Alpha)
      description: 'Executes a Tensor Query Language (TQL) query against a dataset hosted in the Activeloop Managed Tensor Database (datasets created with `runtime={"tensor_db": True}`). This endpoint is documented as Alpha and its syntax may change without announcement. Most Deep Lake usage runs through the Python SDK rather than this endpoint.'
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
      responses:
        '200':
          description: Query executed successfully; results returned as JSON.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '401':
          description: Missing or invalid ACTIVELOOP_TOKEN.
        '400':
          description: Malformed TQL query or request body.
components:
  schemas:
    QueryRequest:
      type: object
      required:
      - query
      properties:
        query:
          type: string
          description: A Tensor Query Language (TQL) statement, e.g. `select * from "hub://org_id/dataset_name" where ...`.
          example: select * from "hub://activeloop/dataset" limit 10
    QueryResponse:
      type: object
      description: JSON results of the query. The exact response shape is not formally documented by Activeloop (Alpha); results are returned as query rows.
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Activeloop API token passed as `Authorization: Bearer {ACTIVELOOP_TOKEN}`.'
